.container__secao{
    display: grid;
    grid-template-columns:repeat(auto-fit(3, auto));
    grid-template-rows: repeat(2, auto);
    margin: 3em;
    padding: 3em;
    align-self: flex-start;
    gap: 0.5em 2em;   
 }
        
.container__numeros{
    grid-area: 1;
    color: var(--vinho);
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: none;
}
.container__texto{
    grid-area: 2;
    font-size: 18px;
    color: var(--cinza-escuro);
    line-height: 28px;
    text-align: left;
}
.container__paragrafo{
    grid-area: 3;
    font-weight: 400;
    color: var(--cinza);
    line-height: 24px;
    text-align: left;
}
